<mat-nav-list>
  <br>
  <div style="justify-content: center;
  display: flex;
  align-items: center;">
    <button style="width: 75%;" (click)="loginUser()" mat-stroked-button color="primary">Login
      <mat-icon style="float: right; margin-top: 6px;" matSuffix>login</mat-icon>
    </button>
  </div><br>

  <div style="justify-content: center;
  display: flex;
  align-items: center;">
    <button (click)="registerUser()" mat-stroked-button style="width: 75%;" color="accent">Register
      <mat-icon style="float: right;
      margin-top: 6px;" matSuffix>app_registration</mat-icon>
    </button>
  </div><br>
</mat-nav-list>
