.pointer{
  cursor: pointer;
}

.w-100{
  width: 100% !important;
}

.clr-red{
  color: red;
}

.float-right{
  float: right;
}

.align-middle{
  vertical-align: super;
}

.center-align-item{
  display: flex;
  align-items: center;
  justify-content: center;
}

// .bg-color .mat-dialog-container{
//   background-color: red;
// }
