.font-size-13{
  //Note 13px ~= 81.25%
  font-size: 80%;
}

.font-size-17{
  font-size: 17px;
}

.font-size-22
{
  font-size: 22px;
}

.font-size-cancel{
  font-size: inherit !important;
}

.font-xLarge{
  font-size: x-large !important;
}

.font-size-24 {
  //1 rem = 16px (Base)
  font-size: 1.5rem !important;
}

.font-size-30
{
  font-size: 30px;
}

.font-size-20
{
  font-size: 20px;
}

.font-size-32
{
  //1 rem = 16px(Base)
  font-size: 2.0rem;
}

.font-size-12{
  font-size: 12px !important;
}

.font-size-14{
  font-size: 14px;
}

.font-size-16{
  font-size: 16px;
}

.font-size-15{
  font-size: 15px;
}

.mat-tooltip {
  font-size: 12px;
}

.text-bold{
  font-weight: 700;
}

.font-w{
  font-weight: 500 !important;
}
