.mL-35{
  margin-left: 35px;
}

.mB-15{
  margin-bottom: 15px;
}

.mR-110{
  margin-right: 110px;
}

.mL-3{
  margin-left: 3px !important;
}

.mL-4{
  margin-left: 4px !important;
}

.mLR-3{
  margin-left: 3px;
  margin-right: 3px;
}

.mLR-6{
  margin-left: 6px;
  margin-right: 6px;
}

.mB-5{
  margin-bottom: 5px;
}

.mT-3{
  margin-top: 3px !important;
}

.mT-14{
  margin-top: 14px;
}

.mT-8{
  margin-top: 8px;
}

.mT-45{
  margin-top: 45px;
}

.mR-45{
  margin-right: 45px !important;
}

.mT-10{
  margin-top: 10px !important;
}

.mT-5{
  margin-top: 5px !important;
}

.mL-8{
  margin-left: 8px !important;
}

.mL-15{
  margin-left: 15px !important;
}

.mT-15{
  margin-top: 15px;
}

.mT-20{
  margin-top: 20px;
}

.mL-5{
  margin-left: 5px !important;
}

.mL-390{
  margin-left: 390px !important;
}

.mR-10{
  margin-right: 10px !important;
}

.left-53{
 margin-left: -53px !important;
}

.mR-15{
  margin-right: 15px !important;
}


.mB-10{
  margin-bottom: 10px !important;
}


.mT-12{
  margin-top: 12px;
}


.mB-50{
  margin-bottom: 50px;
}

.mT-7{
  margin-top: 7px !important;
}

.mL-10{
  margin-left: 10px !important;
}

.mT-17{
  margin-top: 17px;
}

.mL-70{
  margin-left: 70px !important;
}

.mL-250{
  margin-left: 300px !important;
}

.mL-11{
  margin-left: 11px !important;
}

.mR-8{
  margin-right: 8px !important;
}

// only For Quill Editor
.quill-box{
  margin: 6px;
}

.mL-6{
  margin-left: 6px;
}

.mT-25{
  margin-top: 25px;
}

.left-20{
  margin-left: -20px;
}

.left-52{
  margin-left: -52px;
}

.left-10{
  margin-left: -10px !important;
}
//Specifically for Header Cell and Column cell in User Detail Component
.adjust-header-cell{
  margin-left: 30px !important
}

.adjust-column-cell{
  margin-left: 25px !important
}


.mB-0 {
  margin-bottom: 0 !important;
}

.mB-20Percentage{
  margin-bottom: 20% !important;
}

.mB-point8rem{

  // Note 1rem = 16px;
  margin-bottom: .8rem;
}

.mT-0{
  margin-top: 0px;
}

.mR-30{
  margin-right: 30px !important;
}

.mL-20{
  margin-left: 20px;
}

.top42{
  top: 42%
}

.left-10{
  margin-left: -10px !important;
}

.top50{
  top: 50%
}

.top60{
  top: 60%
}

.top67{
  top: 67%
}

.mT-18{
  margin-top: 18px !important;
}

.mT-16{
  margin-top: 16px !important;
}

.top-10{
margin-top: -10px !important;
}

// -------------------------------------------------> Padding <--------------------------------------------------

.padding-10{
  padding: 10px;
}
