<notifier-container></notifier-container>
<app-loader *ngIf="isCustomSpinner"></app-loader>
<app-header  (refreshApplicationList)="refreshPage($event)"></app-header>
<div style="margin-left: 10px; display: flex; justify-content: center; margin-top: 4%;">
  <mat-form-field appearance="outline" [style.width.px]=380 [style.height.px]=100>
    <input type="text" autocapitalize="false" [(ngModel)]="searchValue" autocomplete="false" autofocus matTooltip="Search"
    placeholder="Search Notes ..." matInput/>
    <mat-icon matPrefix>search</mat-icon>
    <span style="cursor: pointer" matTooltip="clear" matSuffix *ngIf="searchValue" mat-icon-button aria-label="Clear" (click)="clearSearchData()">
      <mat-icon matSuffix>close</mat-icon>
    </span>
  </mat-form-field> &nbsp; &nbsp;
  <button class="plusbtn" style="margin-top: 12px;" matTooltip="Add Notes" (click)="addNotes()">+</button>
</div>

<div style="margin-left: 2%; margin-right: 2%;">
  <mat-grid-list [cols]="dashboardGridCols" gutterSize="10px" rowHeight="180px">
    <mat-grid-tile fxLayout="column" class="dashboard-tile" *ngFor="let item of listApp  | filter:searchValue; let i=index;">
      <div class="column">
        <h2>{{item.title}}
          <span style="float: right;">
            <button mat-icon-button aria-label="icon-button with a menu" [matMenuTriggerFor]="menu" style="outline: none; margin-left: 5px; border: none; background-color:bisque;">
              <mat-icon matSuffix>more_vert</mat-icon>
            </button>
          </span>
        </h2>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="deleteNotes(item, i)">
            <mat-icon>delete</mat-icon>
            <span >Delete</span>
          </button>

          <button mat-menu-item (click)="editNotes(item)">
            <mat-icon>edit</mat-icon>
            <span>Edit Notes</span>
          </button>
        </mat-menu>
        <!-- <mat-divider></mat-divider><br> -->
        <p>{{item.description}}</p>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

