<app-header></app-header>

<div style="margin-left: 10px; display: flex; justify-content: center; margin-top: 4%;">
  <mat-form-field appearance="outline" [style.width.px]=380 [style.height.px]=100>
    <input type="text" autocapitalize="false" [(ngModel)]="searchValue" autocomplete="false" autofocus matTooltip="Search"
    placeholder="Search Notes ..." matInput/>
    <mat-icon matPrefix>search</mat-icon>
    <span style="cursor: pointer" matTooltip="clear" matSuffix *ngIf="searchValue" mat-icon-button aria-label="Clear" (click)="clearSearchData()">
      <mat-icon matSuffix>close</mat-icon>
    </span>
  </mat-form-field> &nbsp; &nbsp;
  <button class="plusbtn" style="margin-top: 12px;" matTooltip="Add Notes" (click)="addNotes()">&#43;</button>
</div>


<div style="margin-left: 2%; margin-right: 2%;">
  <mat-grid-list [cols]="dashboardGridCols" gutterSize="10px" rowHeight="180px">
    <mat-grid-tile fxLayout="column" class="dashboard-tile" *ngFor="let item of listApp  | filter:searchValue">
      <div class="column">
        <h2>{{item.title}}</h2>
        <p>{{item.description}}</p>
      </div>
    </mat-grid-tile>

  </mat-grid-list>
</div>

