<app-header></app-header>

<mat-card [class.mat-elevation-z8]="true">
  <mat-card-header>
  <mat-card-title>
    <div style="margin-left: -5px">
      <img src="../../assets/notesIcon.webp" alt="Avatar" style="width: 55px; height: 55px; margin-top: -20px;" class="avatar">
      <span style="vertical-align: top;" class="heading font-xLarge">Keep <span>Notes</span></span>
    </div>
  </mat-card-title>
</mat-card-header>
<mat-card-content>
  <div class="mT-30">
    <form class="form-group" [formGroup]="userProfile">
    <mat-form-field class="w-100" appearance="outline" formLabel="auto" hideRequiredMarker>
      <input matInput autofocus autocomplete="off"  readonly [(ngModel)]="name" readOnly formControlName="name" placeholder="Email" required>
      <mat-label>Name</mat-label>
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>

    <mat-form-field class="w-100" appearance="outline" formLabel="auto" hideRequiredMarker>
      <input type="number" matInput placeholder="Phone Number"  readonly [(ngModel)]="phoneNumber" readOnly
      autocomplete="off" formControlName="phone" autofocus autocomplete="off" minlength="8" required >
      <mat-label>Phone Number</mat-label>
      <mat-icon matSuffix>phone</mat-icon>
    </mat-form-field>
    </form>
  </div>
</mat-card-content>

</mat-card>