<div class="page-not-found top42">
  <span class="text-bold font-size-16">{{'404' }}.</span>&nbsp;
  <span class="font-size-16">{{'THATS_AN_ERROR'}}</span>
</div>

<div class="page-not-found font-size-18 top50">
   {{'REQUEST_URL_NOT_FOUND'}}
</div>

<div class="page-not-found top60">
  <img src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
  style="width: 60px; height: 60px;" alt="source_Img">
</div>

<div class="page-not-found top67">
  <div>{{'POWERED_BY_ANGULAR'}}</div>
</div>
