<notifier-container></notifier-container>
<mat-dialog-content style="background: rgba(0, 0, 0, 0.14); margin-top: -24px; color: #161719;">
  <div fxlayout="row" class="center-align-item mT-16" fxlayoutalign="center center">
    <h1 class="font-style">{{'Create Your Notes'}}</h1>
  </div>
</mat-dialog-content>

<form class="form-group mT-10" [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div class="form-group-class" fxlayout="row" fxlayoutalign="space-between center">
    <mat-form-field [style.width.px]="380"[style.height.px]="12" appearance="outline" formLabel="auto" hideRequiredMarker>
      <mat-label>{{'Title'}}</mat-label>
      <input matInput type="text" autocomplete="off" (ngModelChange)="getFormData('title')" formControlName="title"
      placeholder="Add Title ...">
      <mat-icon style="float: right; margin-top: -25px;"matsuffix>title</mat-icon>
    </mat-form-field>
    <br>
    <div class="clr-red mT-20" *ngIf="requiredFieldTitle">
      <mat-icon class="material-symbols-outlined icn-ver font-size-20">error</mat-icon>
      <span class="align-middle font-size-14">{{'This Field is Required'}}</span>
    </div>
  </div>

  <div class="form-group-class mT-20" fxlayout="row" fxlayoutalign="space-between center">
    <mat-form-field [style.width.px]="380"[style.height.px]="12" appearance="outline" formLabel="auto" hideRequiredMarker>
      <mat-label>{{'Description'}}</mat-label>
      <textarea type="textarea" matInput autocomplete="off" formControlName="description" placeholder="Add Description ..."
        (ngModelChange)="getFormData('description')" rows="15" cols="15" cdktextareaautosize cdkautosizemaxrows="4">
      </textarea>
      <mat-icon style="float: right; margin-top: -8px;" matsuffix>description</mat-icon>
    </mat-form-field>
    <br><br>
    <div class="clr-red mT-20" *ngIf="requiredFieldDescription">
      <mat-icon class="material-symbols-outlined icn-ver font-size-20">error</mat-icon>
      <span class="align-middle font-size-14">{{ 'This Field is Required'}}</span>
    </div>
  </div>

  <div class="mT-20"  fxlayout="row" fxlayoutalign="space-between center">
    <label class="btn btn-default pad-0">
    <button mat-button class="file-upload" onclick="document.getElementById('getFile').click()">
      {{'Choose File'}}
    </button>
    <input type="file" id="getFile" style="display:none" multiple onclick="value = null" #fileUploader enctype="multipart/form-data" (change)="getFileDetails($event)" formcontrolname="image" accept="image/jpeg, image/png"/>
    </label>
  </div>
  <div class="mT-10" *ngIf="image">
    <mat-card class="example-card">
      <img mat-card-image [src]="image" alt="Avatar">
        <button (click)="removeFile()" class="bg-White clr-Black close pointer" matTooltip="Remove" mat-button>
          <mat-icon>close</mat-icon>
        </button>
        <mat-card-actions class="top-37"></mat-card-actions>
    </mat-card>
  </div>
  <div class="clr-red mT-10" *ngIf="fileSizeError">
    <mat-icon class="material-symbols-outlined icn-ver font-size-20">error</mat-icon>
    <span style="top: -5px; position: relative;" class="position-rel top-5 font-size-14">{{'Maximum Upload Size is 10mb.'}}</span>
  </div>

  <div class="clr-red mT-15" *ngIf="isFilePresent">
    <mat-icon class="material-symbols-outlined icn-ver font-size-20">error</mat-icon>
    <span style="vertical-align: top;" class="position-rel font-size-14">{{'Please Upload a file.'}}</span>
  </div>

  <mat-chip-list>
    <div class="mT-20">
      <mat-chip mat-raised-button matTooltip="Add" class="pointer font_color bgColor_submit" color="accent" (click)="onSubmit()">{{'Add Notes'}}
      </mat-chip>
      <mat-chip mat-raised-button matTooltip="Close" class="pointer font_color bgColor_cancel" (click)="close(formData.value)" [mat-dialog-close]="formData.value">{{'Cancel'}}
      </mat-chip>
    </div>
  </mat-chip-list>
</form>
