<div fxLayout="row" fxLayoutAlign="center center">
  <h1 style="font-family: sans-serif;">Create Your Notes </h1>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field appearance="outline" [style.width.px]=380>
    <mat-label>Title</mat-label>
    <input matInput placeholder="Add Title ..." [(ngModel)]="formData.title">
    <mat-icon matSuffix>title</mat-icon>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field appearance="outline" [style.width.px]=380>
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Add Description ..."  rows="100" cols="90" cdkTextareaAutosize cdkAutosizeMaxRows="8"
     [(ngModel)]="formData.description"></textarea>
    <mat-icon matSuffix>description</mat-icon>
  </mat-form-field>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center">
  <label class="btn btn-default pad-0">
    <button mat-button class="file-upload"
      onclick="document.getElementById('getFile').click()">{{'Choose File'}}
    </button>

    <input type="file" id="getFile" style="display:none"
      multiple onclick="value = null" #fileUploader [(ngModel)]="formData.photo"
      (change)="getFileDetails($event)"
      accept=".pdf, image/jpeg, image/png" />
  </label>
</div><br>

<div *ngIf="photo">
    <mat-card class="example-card">
      <img mat-card-image [src]="photo" alt="Avatar">
      <mat-card-actions style="margin-top: -20px;">
        <button matTooltip="Like" class="pointer favorite" mat-fab>
          <mat-icon>favorite</mat-icon>
        </button>
        <button matTooltip="Delete"class="pointer delete float-right" mat-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
</div><br>

<mat-chip-list>
  <mat-chip mat-raised-button matTooltip="Add" class="pointer font_color bgColor_submit" color="accent"
    (click)="onSubmit()" [mat-dialog-close]="formData">Add Notes
  </mat-chip>

  <mat-chip mat-raised-button matTooltip="Close" class="pointer font_color bgColor_cancel"
    (click)="close()" [mat-dialog-close]="formData">Cancel
  </mat-chip>
</mat-chip-list>
